@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #f8fafc;
  color: #1e293b;
}

.bg-gradient-ci, .bg-gradient-gebat {
  background: linear-gradient(135deg, #2563EB 0%, #E5A110 100%);
}

.border-gebat-frame {
  border: 2px solid #E5A110;
}
